div{
  max-width: 400px;
  margin: 0 auto;
}

body {
    background-color: black;
}

#svg{
  background-color: darkseagreen;
  background: radial-gradient(darkseagreen 0%, black 70%);
  width: 375px;
}
.title{
  font-size: 24px;
  text-align: center;
  color: #fff;
}